<!doctype html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="static/style.css" rel="stylesheet" />
        <link href="static/bulma.min.css" rel="stylesheet" />
        <script src="static/htmx.min.js"></script>
        <script defer>
            document.addEventListener("htmx:beforeOnLoad", function (evt) {
                switch (evt.detail.xhr.status) {
                    case 404:
                    case 409:
                        evt.detail.shouldSwap = true;
                        break;
                }
            });
        </script>
    </head>
    <body>
        <div class="columns is-centered is-vcentered hero is-fullheight">
            <main class="column is-half is-three-quarters-mobile">
                <h1 class="title">Todo</h1>
                <form
                    hx-post="/todos"
                    hx-target="#todos"
                    class="field is-grouped"
                    hx-on::after-request="if(event.detail.successful) this.reset()"
                >
                    <div class="control is-expanded">
                        <input class="input" type="text" name="name" />
                    </div>
                    <div class="control">
                        <input
                            class="button is-primary"
                            type="submit"
                            value="+"
                        />
                    </div>
                </form>
                <div id="errors"></div>
                <div
                    id="todos"
                    hx-get="/todos"
                    hx-trigger="load"
                    class="columns mt-4"
                ></div>
            </main>
        </div>
    </body>
</html>
